@media only screen and (max-width:425px) {
    
    /* Navbar Media queries  */
    .nav-container {
        flex-direction: column;
        padding: 45px 10px;
    }

    .logo-container {
        width: 90%;
        margin: 0px auto;
        gap: 10px;
        align-items: center;
        margin-bottom: 35px;
    }

    .logo-title {
        font-size: 2rem;
    }

    .logo-img {
        width: 65px;
        height: 65px;
    }

    .menu-container {
        flex-direction: column;
        width: 90%;
        margin: 0px auto;
        gap: 20px;
    }

    .follow-us {
        margin-top: 15px;
    }

    /* Banner Media Queries */

    .banner-container {
        flex-direction: column-reverse;
        width: 80%;
        margin: 30px auto;
        background: none;
    }

    .banner-img {
        width: 315px;
        height: 330px;
        padding: 0px;
        margin-left: 5px;
    }

    .banner-img-part {
        width: 100%;
    }

    .banner-text-part {
        padding: 0px;
        width: 100%;
        text-align: center;
        background: url("../images/Group14.png"), linear-gradient(223deg, #8C57EE0D, #F144AE0D);
        background-size: 100% auto;
        margin-top: 70px;
    }

    .banner-title {
        font-size: 2rem;
        padding-top: 50px;
        margin-bottom: 0px;
    }

    .features-text {
        font-size: 1.05rem;
    }

    .banner-features {
        padding-left: 20px;
    }

    .banner-button {
        justify-content: space-evenly;
        padding-bottom: 60px;
    }

    .primary-button {
        padding: 20px 30px;
        font-size: 1.10rem;
    }

    .secondary-button {
        padding: 20px 30px;
        font-size: 1.10rem;
    }

    /* Online games funny media queries */

    .video-box-container {
        flex-direction: column;
    }

    .games-title {
        font-size: 1.5rem;
    }

    .online-games-container .banner-color {
        font-size: 1.5rem;
    }

    .games-description {
        font-size: 0.9rem;
    }

    .video-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* play instantly media queries */

    .play-instant-container {
        flex-direction: column;
    }

    .play-text-container {
        width: 100%;
        text-align: center;
    }

    .play-text-title {
        font-size: 2.2rem;
    }

    .play-instant-container .banner-color {
        font-size: 2.2rem;
    }

    .play-description {
        font-size: 1.1rem;
    }

    .play-img-main {
        width: 270px;
        height: 360px;
        margin-left: 32px;
    }

    .play-img-container {
        width: 100%;
        margin: 0px auto;
    }

    .play-img-extra {
        width: 150px;
        height: 170px;
        bottom: -30px;
        left: -25px;
    }

    /* Play online games media queries */

    .play-online-container{
        flex-direction: column-reverse;
        margin-top: 70px;
    }

    .play-online-container .banner-color{
        font-size: 2.2rem;
    }

    .play-online-container .play-text-container {
        width: 100%;
        text-align: center;
    }

    .play-online-extra{
        width: 150px;
        height: 170px;
        bottom: -30px;
        right: -20px;
    }

    /* Career media queries */

    .career-container{
        flex-direction: column;
        margin-top: 100px;
    }

    .career-text-container {
       padding: 25px 20px;
    }

    .career-description {
        font-size: 1rem;
    }

    .artist-genre-container{
        font-size: 0.8rem;
    }

    .career-img {
        width: 380px;
    }

    .career-container .primary-button{
        padding: 10px 20px ;
        font-size: 0.8rem;
    }

    .career-img-container{
        width: 90%;
        margin: 0px auto;
    }

    /* game genre styles */

    .game-photo{
        width: 30px;
    }

    .game-box{
        gap: 5px;
    }

    .game-name{
        font-size: 0.7rem;
    }

    .game-box:nth-child(4){
        margin-right: 5px;
    }

    .game-collection-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
        grid-template-areas:
            "b1 b2 b3"
            "b4 b5 b6"
            "b7 b8 b9";
    }
      /* Footer Styles */

      .foot-container{
        height: 300px;
      }

    .foot-container .logo-container{
    padding-top: 30px;
    margin-bottom: 15px;
}

    .foot-container .logo-title{
    font-size: 1.5rem;
}

    .foot-container .logo-img{
    width: 35px;
    height: 35px;
}
    .foot-list{
        width: 90%;
        margin: 0px auto;
        gap:10px;
    }

    .foot-list a{
        font-size: 0.7rem;
        text-align: center;
    }

    .foot-logo-container{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: repeat(2, 25px);
        justify-items: center;
        gap: 20px;
    }

    .foot-container .last-part{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .foot-container .last-part a{
        font-size: 0.7rem;
    }

    .footer-ending{
        font-size: 0.7rem;
        width: 200px;
        margin: auto;
    }

    /* We are gamer media queries */

    .we-gamer-container{
        flex-direction: column;
        width: 90%;
        margin: 0px auto;
    }

    .gamer-img-container{
        width: 100%;
        margin: 0px auto;
    }

    .gamer-photo{
        width: 390px;
        padding-top: 0px;
    }

    .gamer-text-container{
        text-align: center;
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        margin-top: 15px;
    }

    .we-gamer-container .banner-color{
        font-size: 2rem;
    }

    .last-words {
        font-size: 1.4rem;
    }
}

/* Game genre media queries */

/* .game-collection-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 30px;
    grid-template-areas:
    "b1 b2 b3"
    "b4 b5 b6"
    "b7 b8 b9";
} */


@media screen and (min-width:426px) and (max-width: 768px) {

    /* Navbar Media queries  */
    .nav-container {
        flex-direction: column;
        padding: 45px 10px;
    }

    .logo-container {
        margin-bottom: 35px;
    }

    .menu-container {
        width: 70%;
        margin: 0px auto;
        gap: 20px;
        justify-content: space-evenly;
    }

    /* Banner Media Queries */

    .banner-container {
        flex-direction: column;
        width: 90%;
        margin: 30px auto;
        background: none;
    }

    .banner-text-part {
        padding: 0px;
        width: 100%;
        text-align: center;
        background: url("../images/Group14.png"), linear-gradient(223deg, #8C57EE0D, #F144AE0D);
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }

    .banner-title {
        font-size: 2rem;
        padding-top: 50px;
        margin-bottom: 0px;
    }

    .banner-features {
        display: flex;
        justify-content: center;
    }

    .banner-button {
        justify-content: center;
        padding-bottom: 60px;
    }

    /* Online games funny media queries */

    .video-box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .games-title {
        font-size: 2.5rem;
    }

    .online-games-container .banner-color {
        font-size: 2.5rem;
    }

    /* Play instantly media queries */

    .play-instant-container {
        flex-direction: column;
    }

    .play-text-container {
        width: 100%;
    }

    .play-text-container {
        max-width: 600px;
    }

    .play-img-main {
        margin-left: 15px;
    }

    .play-img-extra{
        left: -110px;
    }

    /* Play online games media query */

    .play-online-container{
        flex-direction: column-reverse;
    }

    .play-online-container .play-text-container {
        max-width: 600px;
    }

    .play-online-extra{
        right: -110px;
    }

    /* Footer Media Queries */

    .foot-list{
        width: 90%;
        margin: 0px auto;
        gap:20px;
    }

    .foot-list a{
        font-size: 1rem;
        text-align: center;
    }

    .foot-logo-container{
        height: 25px;
        margin-top: 30px;
    }

    .footer-ending{
        margin-top: 20px;
    }

    /* We are gamer media queries */
    .we-gamer-container{
        flex-direction: column;
        width: 90%;
        margin: 0px auto;
    }

    .gamer-text-container{
        text-align: center;
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        margin-top: 15px;
    }

    .game-collection-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
        grid-template-areas:
            "b1 b2 b3"
            "b4 b5 b6"
            "b7 b8 b9";
    }

    /* career media queries */

    .career-container{
        flex-direction: column;
    }

    .career-text-container {
        padding: 30px 40px;
     }

     .artist-genre-container{
        font-size: 1.1rem;
    }

    .career-container .primary-button{
        padding: 15px 23px ;
        font-size: 1rem;
    }

    .career-img-container{
        width: 90%;
        margin: 0px auto;
    }

    .career-img {
        margin-left: 40px;
    }
}