* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Navbar styles */

.nav-container {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 10px;
}

.logo-title {
    text-align: center;
    font-size: 2.2rem;
    color: #0B0223;
}

.color-text {
    color: #FF42A5;
}

.menu-container {
    display: flex;
    width: 420px;
    justify-content: space-between;
    align-items: center;
}

.menu-container>li {
    list-style: none;
}

.menu-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
}

.follow-us {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 5px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
}

/* banner styles */

.banner-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: url("../images/Group14.png"), linear-gradient(223deg, #8C57EE0D, #F144AE0D);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-text-part {
    width: 45%;
    padding-left: 100px;
}

.banner-title {
    color: #0B0223;
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 100px;
}

.banner-color {
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-features {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0px;

}

.features-text {
    color: #534C64;
    font-size: 1.25rem;
}

.banner-button {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.primary-button {
    color: white;
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    padding: 20px 35px;
    font-size: 1.25rem;
    font-weight: 600;
}

.secondary-button {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    border: none;
    padding: 20px 35px;
    background-color: #4EC5F7;
}

.banner-img-part {
    width: 55%;
}

.banner-img {
    width: 550px;
    padding-left: 80px;
    height: 520px;
}

/* Online games funny styles */

.online-games-container {
    width: 90%;
    margin: 70px auto;
}

.games-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.online-games-container .banner-color {
    font-size: 3rem;
}

.games-description {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 40px;
}

.video-box-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
}

.video-box {
    width: 290px;
}

.box-img {
    width: 290px;
    border-radius: 16px;
    margin-bottom: 15px;
    display: block;
}

.combine-img{
    position: relative ;
}

.box-caption {
    color: #534C64;
    font-size: 1.1rem;
    line-height: 30px;
    text-align: center;
}

.overlay-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s;
    border-radius: 8px;
}

.overlay-img:hover{
    opacity: 1;
}

.watch-text{
    margin-top: 15px;
    color: #FF42A5;
}


/* Play instant styles */

.play-instant-container {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    gap: 70px;
    align-items: center;
}

.play-text-container {
    max-width: 340px;
}

.play-text-title {
    color: #0B0223;
    font-size: 2.5rem;
    line-height: 60px;
    margin-bottom: 10px;
}

.play-instant-container .banner-color {
    font-size: 2.5rem;
    text-transform: none;
}

.play-description {
    color: #534C64;
    font-size: 1.2rem;
    line-height: 30px;
}

.play-img-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.play-img-main {
    width: 480px;
    height: 500px;
    border-radius: 8px;
}

.play-img-extra {
    max-width: 250px;
    border-radius: 8px;
    position: absolute;
    bottom: -80px;
    left: -120px;
}

/* Games genre styles */


.game-collection-container {
    width: 90%;
    margin: 0px auto;
    margin-top: 250px;
    margin-bottom: 100px;
    display: grid;
    grid-gap: 20px 0px;
    grid-template-columns: repeat(10px 12, 1fr 10px);
    grid-template-areas:
        ". b1 b1 b2 b2 b3 b3 b4 b4 b5 b5 ."
        ". . b6 b6 b7 b7 b8 b8 b9 b9 . .";

}


.box-1 {
    grid-area: b1
}

.box-2 {
    grid-area: b2
}

.box-3 {
    grid-area: b3
}

.box-4 {

    grid-area: b4
}

.box-5 {
    grid-area: b5
}

.box-6 {
    grid-area: b6
}

.box-7 {
    grid-area: b7
}

.box-8 {
    grid-area: b8
}

.box-9 {
    grid-area: b9
}

.game-box {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    padding: 10px;
}

.game-box:hover {
    border: 1px solid #FF42A5;
    cursor: pointer;

    .game-name {
        color: #FF42A5;
    }

}

.game-name {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}



/* Footer Styles */

.foot-container {
    height: 400px;
    background-color: #0B0223;
}

.foot-container .logo-container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-container .logo-title {
    color: white;
}

.foot-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.foot-list li {
    list-style: none;
}

.foot-list a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
}

.foot-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.foot-container .last-part a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
}

.foot-container .last-part {
    margin-top: 40px;
}

.footer-ending {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
}




